*{
    margin: 0;
}
#contenedor{
    width: 1200px;
    height: 1000px;
    margin: 0.5em auto;
    padding: 0.5em;
}
#header{
    height: 15%;
    background-color: cornflowerblue;
    margin: 1em;
    border-radius: 1em;
    line-height: 150px;
}
#nav{
    height: 10%;
    background-color: darkcyan;
    margin: 1em;
    border-radius: 1em;

}
#contenido{
    height: 53%;
    margin: 1em;
}
#footer{
    height: 15%;
    background-color: coral;
    margin: 1em;
    border-radius: 1em;
}
#section{
    height: 100%;
    width: 67%;
    background-color: darkkhaki;
    margin-left: 0.5em;
    border-radius: 1em;
    float: left;
}
#aside{
    height: 100%;
    width: 30%;
    background-color: aquamarine;
    margin-right: 0.5em;
    border-radius: 1em;
    float: right;
}
.articulo{
    height: 20%;
    width: 96%;
    background-color: red;
    margin: 1em;
    border-radius: 1em;
    top: 100px;
}
h1{
    color: yellow;
    text-align: center;
}
.nav{
    text-align: center;
    margin: auto;
}